* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.logo {
    grid-column: 1 / 2;
}

nav {
    grid-column: 2 / 3;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 2vw;
}

nav ul a {
    text-decoration: none;
    color: black;
}

a {
    position: relative;
  }
  
a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background:
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 255, 255),
        rgba(0, 100, 200, 1)
    );
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.blank {
    grid-column: 3 / 4;
}

.blank1 {
    grid-column: 1 / 2;
}

.contact {
    grid-column: 2 / 3;
    margin-top: 2%;
}

.form-control {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: 2% 0;
    font-size: 30px;
    grid-column: 2 / 3;
    padding: 0 1%;
}

.send {
    background-color: transparent;
    border: 2px solid black;
    width: 100%;
    color: black;
    font-size: 30px;
}

.send:hover {
    background-color: dodgerblue;
    transition-duration: .4s;
    color: white;
}

.send a {
    color: black;
    text-decoration: none;
    cursor: cell;
}

hr {
    width: 100%;
    grid-column: 1 / 4;
    margin-bottom: 1%;
    margin-top: 1%;
    border: 2px solid black;
}

.social {
    margin-bottom: 5%;
}
