* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
}

.logo {
    grid-column: 1 / 2;
}

.logo a {
    text-decoration: none;
}

nav {
    grid-column: 2 / 3;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 2vw;
}

nav ul a {
    text-decoration: none;
    color: black;
}

a {
    position: relative;
  }
  
nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background:
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 255, 255),
        rgba(0, 100, 200, 1)
    );
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.blank {
    grid-column: 3 / 4;
}

.blog {
    grid-column: 2 / 3
}

.blogpost h1 {
    text-align: center;
}

.blogpost button {
    width: 100%;
    background-color: transparent;
    border: 2px solid black;
    min-height: 100px;
    margin: 5% 0;
}

.blogpost button:hover {
    background-color: rgb(150, 150, 150);
    color: white;
    transition-duration: 1s;
}

.blogpost button h3 {
    width: 75%;
    margin: 0 auto;
}

hr {
    width: 100%;
    grid-column: 1 / 4;
    margin-top: 20%;
    margin-bottom: 1%;
    border: 2px solid black;
}

.social {
    margin-bottom: 5%;
}

@media screen and (max-width: 1000px) {
    body {
        grid-template-columns: 1fr;
    }

    .logo {
        display: hidden;
        text-align: center;
        grid-column: 1 / 4;
    }   

    nav {
        grid-column: 1 / 4;
    }

    nav a {
        font-size: 1.5rem;
    }

    .blank {
        display: hidden;
    }
    
    .blog {
        grid-column: 1 / 4;
        text-align: center;
    }

    .blog h1 {
        font-size: 30px;

    }

    .blogpost {
        width: 80%;
        background-color: transparent;
        min-height: 100px;
        margin: 0 auto;
    }

    .social {
        grid-column: 1 / 4;
        text-align: center;
        margin: 0 auto;
        width: 75%;
    }

    .social h2 {
        grid-column: 1 / 2;
    }
}